<hr>
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <br>
        <div class="media">
          <a href="/aboutus">About us</a><a>Privacy policy</a><a>Newsletter</a><a>Sitemap</a>
        </div>
        <div class="media-icons">
          <h5 class="white-text"><b>FOLLOW US ON</b></h5>
          <a class="fa fa-facebook" href="https://www.facebook.com/"></a>
          <a class="fa fa-twitter" href="https://twitter.com/?lang=en"></a>
          <a class="fa fa-google" href="https://www.google.com/"></a>
          <a class="fa fa-rss"></a>
          <a class="fa fa-youtube" href="https://www.youtube.com/"></a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <h5>
          <p>Copyright © 2021 All rights reserved</b>
          </p>
        </h5><br>
      </div>
    </div>
  </footer>
</body>
</html>