<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Blogging</title>
    <body>
        <div class="logo">
            <form action="/" method="POST"></form>
            <span class="logo-name">Blogging</span>
              <button type="submit" class="btn btn-dark" id="get-started"><a href="signup">Get started</a></button>
            <span class="search">
                <input type="text" placeholder="Google Search">
                <img src="images/a.png" style="position: relative; height: 30px; width: 30px;" class="srch-img" height="40" width="30">
            </span><br>
            </form>
        </div>
        <span class="count">
            <div class="main-container">
                <div class="container_inner" >Total Views :
                    <span class="num_tiles" id="display_div_pageViews"></span>
                </div>
            </div>
            <div class="main-container">
                <div class="container_inner" >Total Users :
                    <span class="num_tiles" id="display_div_pageViews" style="color: #55ACEE;">0</span>
                </div>
            </div>
        </span>
        <br>
        <header class="nav">
            <div class="nav-box">
                <span><a href="/">Home</a></span>
                <span><a href="#">Nation</a></span>
                <span><a href="#">Sports</a></span>
                <span><a href="#">Politics</a></span>
                <span><a href="#">Entertainment</a></span>
                <span><a href="#">Search</a></span>
                <span><a href="#">Contact Us</a></span>
            </div>
        </header>
        <hr>