<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Blogging</title>
    <body style="background-color: rgb(206, 206, 206); margin: 0px 100px 0px 90px; padding-top: 10px;">
     <a href="/" style="all:unset; font-size: 25px; color: grey; cursor: pointer; font-weight: bold;">Home</a>
     <div class="logo">
         <span class="logo-name" style="font-size: 40px; margin-left: 75px;">Blogging</span>
         <span>
             <input class="btn btn-dark" type="button" value="Our Story" id="get-started" style="border: 1px solid black; font-size: 17px;">
         </span>
         <span>
            <input class="btn btn-dark" type="button" value="About membership" id="get-started" style="border: 1px solid black; font-size: 14px; width: auto; right: 380px">
         </span>
     </div>
     <h5 style="margin-top: 40px; margin-left: 75px; font-size: 63px; letter-spacing: -2px; font-family:Georgia, 'Times New Roman', Times, serif;">Welcome to Blogging, where
        <br>
        words matter.</h5>
        <img src="images/abc.gif" style="margin: -80px 100px 0px 100px;">
        <h5 style="margin-top: 40px; margin-left: 75px; text-align: center; font-size: 59px; letter-spacing: -2px; font-family: Georgia, 'Times New Roman', Times, serif;">
            Ideas and perspectives you won’t 
            <br>
            find
            <br>
            anywhere else.
        </h5>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <blockquote>
                        An<em><strong> Internship </strong></em>Provides Real Life Experience and Exposure. Employers in today's labor market rely heavily on resumes that illustrate a relevant work history, whether that's from internships, volunteer work, or actual job experience. A practical work background carries a major significance when attempting to enter the job market. It's all about competition.
                        <br><br><em><b>-Rohum</b></em>
                    </blockquote>
                </div>
                <div class="col-lg-3">
                    <blockquote>
                        The experiences we go through are what shapes us. Your internship will not only <em><strong>encourage personal development, </strong></em>
                        but also a greater understanding of self. To know yourself is to know your goals and how to best achieve them. Finding this level of clarity is difficult, but sometimes all it takes is trying someone new, out of your comfort zone.
                        <br><br><em><b>-Ashish</b></em>
                    </blockquote>
                </div>
                <div class="col-lg-3">
                    <blockquote>
                        <em><strong>Networking </strong></em> is an exchange of information between people, with the ultimate goal of establishing acquaintances and relationships to advance your professional career. Sure, you can attend a networking event without doing an internship, but you would be limiting yourself. Partaking in an internship allows you to establish deeper relationships than you normally would talking to a stranger one-on-one. 
                        <br><br><em><b>-Sameer</b></em>
                    </blockquote>
                </div>
                <div class="col-lg-3">
                    <blockquote>
                        The student is given a chance to decide whether they wish to continue with their current career path or try something else. The more experience you acquire, the better you position yourself for success in landing a job. An internship is the building blocks necessary for creating the path to a 
                        <em><strong>successful career. </strong></em>So next time you're on a gap year or summer break, you might want to consider indulging in a meaningful internship and build towards your future.
                        <br><br><em><b>-Joshua</b></em>
                    </blockquote>
                </div>
            </div>
        </div>
        <br>
        <img src="images/unlock.png" style="margin: 35px 100px 0px 70px;">
    </body>
</html>