<%- include('partials/header') %>
<table class="section1">
            <tr>
                <td style="text-align: left; padding: 5px; padding-top: 20px;">
                    <span class="part1" style="text-align: left; padding: 0px;">
                        <img src="images/b.png" height="150" width="400">
                        <h2>Should Twitter Get Rid of Follower Counts?</h2>
                        <h3>The possibility feels closer than ever</h3><br>
                        <p>Cool Neha in All Things Creative</p><br>
                        <h4>Jan 9 · 5 min read</h4>
                    </span>
                </td>
                <td style="padding-top: 14px;">
                    <span class="part2">
                        <span><img src="images/c.png" height="100" width="100" style="float: left; border: 1px solid black; margin: 22px 10px 10px 0px;">
                            <h3>Html, a standardized system for tagging text files to achieve font, colour, graphic, and hyperlink effects on WWW pages.</h3>
                        </span>
                        <span><img src="images/c2.png" height="100" width="100" style="float: left; border: 1px solid black; margin: 0px 10px 10px 0px;">
                            <h3>CSS describes how HTML elements are to be displayed on screen, paper, or in other media & control the layout of multiple web pages.</h3>
                        </span>
                        <span><img src="images/c3.png" height="100" width="100" style="float: left; border: 1px solid black; margin: 5px 10px 10px 0px;">
                            <h3>Teach yourself the foundations of designing using these links made for learning.--freecodecamp & theodinproject</h3>
                        </span>
                    </span>
                </td>
                <td style="text-align: left; padding: 5px;">
                    <span class="part3">
                        <span><img src="images/d.png" height="150" width="400">
                            <h2>No, That’s Not How You Say It</h2>
                            <h3>A short personal history of my favorite fast food<br><a href="/read">(Read more...)</a></h3>
                            <p>VIP Singh</p><br>
                            <h4>Jan 29 · 8 min read</h4>
                        </span>
                    </span>
                </td>
            </tr>
        </table>
        <hr>
        <div class="section2">
            <span class="poster">
                <img src="images/e.png">
            </span>
        </div>
        <hr>
        <table class="section1">
            <tr>
                <td style="text-align: left; padding: 5px; padding-top: 20px;">
                    <span class="part1" style="text-align: left; padding: 0px;">
                        <img src="images/f.png" height="150" width="400">
                        <h2>A few good reasons why you should learn to code</h2>
                        <h3>You might be wondering if learning to code is something you should...</h3><br>
                        <p>Rocky Jagtiani</p><br>
                        <h4>Jan 9 · 5 min read</h4>
                    </span>
                </td>
                <td style="padding-top: 14px;">
                    <span class="part2">
                        <span><img src="images/g.png" height="100" width="100" style="float: left; border: 1px solid black; margin: 22px 10px 10px 0px;">
                            <h3>Only buy something that you’d be perfectly happy to hold if the market shut down for 10 years.</h3>
                        </span>
                        <span><img src="images/g2.png" height="100" width="100" style="float: left; border: 1px solid black; margin: 0px 10px 10px 0px;">
                            <h3>When I figured out how to work my grill, it was quite a moment. I discovered that summer is a completely different experience when you know how to grill.</h3>
                        </span>
                        <span><img src="images/g3.png" height="100" width="100" style="float: left; border: 1px solid black; margin: 5px 10px 10px 0px;">
                            <h3>Chains of habit are too light to be felt until they are too heavy to be broken.</h3>
                        </span>
                    </span>
                </td>
                <td style="text-align: left; padding: 5px;">
                    <span class="part3">
                        <span><img src="images/h.png" height="150" width="400">
                            <h2>Deep space radio waves baffle astronomers; aliens not ruled out</h2>
                            <h3>Every time we see something we’ve never seen before that is an opportu..</h3>
                            <p>Enzyme Snehar</p><br>
                            <h4>Jan 29 · 8 min read</h4>
                        </span>
                    </span>
                </td>
            </tr>
        </table>

<%- include('partials/footer') %>
